__pycache__
Pipfile
Pipfile.lock
scratch*
.idea
build
dist
venv

# Nosetests files
cover/
.coverage

# Ignore Vscode files
.vscode

.noseids
nosetests.xml

.mypy_cache

# Ignore logs/data/certs
logs/*
data/*
!data/web*
certs/*

!logs/README.md
!data/README.md
!certs/README.md
